<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>All Reviews</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<h1>All Reviews</h1>

	<!-- Put the for-each loop inside the tag you want to repeat -->
	<ol>
		<li th:each="review : ${reviews}"><a
			th:href="@{'review?id=' + ${review.id}}"
			th:text="${review.title} + ' [' + ${#strings.capitalize(review.category.name)} + ']'" />
		</li>
	</ol>

	<h1>By Category</h1>

	<!-- Put the for-each loop inside the tag you want to repeat -->

	<ol>
		<div th:each="category : ${categories}">

			<li th:text="${#strings.capitalize(category.name)}"></li>
			<ol>
				<li th:each="review : ${category.reviewsByCategory}"><a
					th:href="@{'review?id=' + ${review.id}}" th:text="${review.title}"></a></li>
			</ol>
		</div>
	</ol>

<h1>Search</h1>


<form action="/allReviews">
Search: <input type="text" name="search" />
<input type="submit" value="Submit" />
</form>
	<!-- Put the for-each loop inside the tag you want to repeat -->
	<h2>Results</h2>
	<ol>
		<li th:each="review : ${searchResults}"><a
			th:href="@{'review?id=' + ${review.id}}"
			th:text="${review.title} + ' [' + ${#strings.capitalize(review.category.name)} + ']'" />
		</li>
	</ol>

</body>
</html>