<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Reviews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<h1>All Reviews</h1>

<!-- Put the for-each loop inside the tag you want to repeat -->
	<ol>
		<li th:each="review : ${reviews}">
		<a th:href="@{'review?id=' + ${review.id}}" th:text="${#strings.capitalize(review.category.name)} + ': ' +${review.title}" />
		</li>
   </ol>
   
   <h1>By Category</h1>

<!-- Put the for-each loop inside the tag you want to repeat -->
	<ol th:each="category : ${categories}" th:text="${category.name}">
		<li th:each="${review : category.reviews}" th:text="${review.title}">
		</li>
   </ol>
   
</body>
</html>